
.text{
  font-size: 16px;
  font-weight: 300;
  line-height:1.3;
  letter-spacing: .75px;
  &__headline{
    color:rgba(0,0,0,.75);
    font-size: 36px;
    margin-bottom:0;
    font-weight: 300;
  }
  &__large{
    font-size: 28px;
    font-weight: 100;
  }
  &__lead{
    font-size: 14px;
    text-transform: uppercase;
    font-weight:500;
  }
  &__label{
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom:8px;
    margin-top:16px;
  }
  &__list{
    padding:0;
    list-style-type: none;
    li{
      border-bottom:1px solid rgba(255,255,255,.15);
      padding: 8px 0;
      &:last-child{
        border-width:0;
      }
    }
  }
}
